body {
  overflow-x: hidden;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bgblack{
  background: #0C0B0C;
  height: 100vh;

}

.centra{
  height: 100vh;
  transform-origin: 50% 50%; /* center */

}

.bggrain{
  background-image: url("../public/13.png");
  height: 100vh;

}
.bggrain2{
  background-image: url("../public/14.png");
  height: 100vh;
  opacity: 10%;
}

.planet{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.timer{
  position: absolute;
  transform: rotate(90deg);
  transform-origin: bottom center;
  top: 10vh;
  left: calc(1.5vw - 29px);
  z-index: 10;
}

.counter{
  position: absolute;
  top: 50vh;
  left: 1.5vw;
  z-index: 10;
}

.days{
  position: absolute;
  top: 92vh;
  left: 1.5vw;
  z-index: 10;
}
.planeti{
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: bottom center;
  top: 10vh;
  right: calc(1.2vh - 29px);
  z-index: 10;
}

.frac {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  letter-spacing: 0.001em;
  text-align: center;
}
.frac > span {
  display: block;
  padding: 0.1em;
}
.frac span.bottom {
  border-top: thin solid white;
}
.frac span.symbol {
  display: none;
}

.who{
  position: absolute;
  transform: translate(-100%,-100%);
  top: 48vh;
  right: 6vw;
  font-size: 2.7vw;
}

.we{
  position: absolute;
  transform: translate(-100%,-100%);
  top: 65vh;
  right: -6vw;
}

.album{
  width: 10vw;
}

.painting{
  width: 17vw;
}

.planetpos {
  height: 400px;
  position: absolute;
  left:50%;
  right: 50%;
  transform: translate(-50%,-50%);
}

.poema {
  position: absolute;
  bottom: 4vw;
  right: 17vw;
  animation: float2 20s ease-in-out infinite;
  transform-style: preserve-3d; /* This property allows child elements to maintain their 3D position */
}

.scuola{
  position: absolute;
  bottom: 17vh;
  left: 13vw;
  animation: float2 20s ease-in-out infinite;
  transform-style: preserve-3d; /* This property allows child elements to maintain their 3D position */
}

.ui {
  font-size: 16px;
}

.midtext{
  font-size: 3vw;
}

.align-items-center {
  display: flex;
  align-items: center;  /*Aligns vertically center */
}

.oddity{
  position: absolute;
  top: 12vh;
  left: 60vw;
  animation: float2 20s ease-in-out infinite;
  transform-style: preserve-3d; /* This property allows child elements to maintain their 3D position */
}

.empire {
  top: 45vh;
  left: 70vw;
}

.purpose {
  top: 85vh;
  right: 5vw;
}

.each {
  top: 91vh;
}

.midsub {
  font-size: 0.9vw;
}

@media screen and (max-width: 1500px) {
  .who {
    font-size: 3.4vw;
    right: -2vw;
  }

  .we {
    right: -20vw;
  }

  .purpose {
    right: -3vw;
  }

  .midsub {
    font-size: 1.1vw;
  }
}

@media screen and (max-width: 1200px) {
  .album {
    width: 12vw;
  }

  .painting {
    width: 20vw;
  }

  .albumtext {
    font-size: 1.4vw;
  }

  .planetpos {
    height: 275px;
  }

  .poema {
    right: 10vw;
  }

  .who {
    font-size: 3.8vw;
    right: -9vw;
  }

  .we {
    right: -27vw;
  }

  .midtext{
    font-size: 3.5vw;
  }

  .purpose {
    right: -15vw;
  }

  .midsub {
    font-size: 1.3vw;
  }
}

@media screen and (max-width: 992px) {
  .album {
    width: 14vw;
  }

  .albumtext {
    font-size: 1.7vw;
  }

  .planetpos {
    height: 260px;
  }

  .who {
    font-size: 4vw;
    right: -13vw;
  }

  .we {
    right: -25vw;
    font-size: 3.5vw;
  }

  .ui {
    font-size: 14px;
  }

  .midtext{
    font-size: 4vw;
  }

  .purpose {
    right: -17vw;
    top: 80vh;
  }

  .midsub {
    font-size: 1.5vw;
  }

  @media screen and (min-width: 768px) {
    .each {
      top: 92vh;
    }
  }

}

@media screen and (max-width: 768px) {
  .album {
    width: 18vw;
  }

  .painting {
    width: 24vw;
  }

  .planetpos {
    height: 240px;
  }

  .albumtext {
    font-size: 2vw;
  }

  .who {
    position: absolute;
    transform: translate(-100%, -100%);
    top: 71%;
    right: -20vw;
    font-size: 5.8vw;
  }

  .scuola {
    bottom: 12vh;
    animation: float1 20s ease-in-out infinite;
  }

  .we {
    bottom: 25vh;
    right: -30vw;
    font-size: 5vw;
  }

  .midtext{
    font-size: 4.5vw;
  }

  .midbot {
    padding-top: 30vh;
  }

  .purpose {
    right: -30vw;
    top: 85vh;
  }

  .empire {
    top: 70vh;
    left: 60vw;
  }

  .midsub {
    font-size: 2vw;
  }
}

@media screen and (max-width: 576px) {
  .album {
    width: 22vw;
  }

  .painting {
    width: 30vw;
  }

  .planetpos {
    height: 210px;
  }

  .albumtext {
    font-size: 2.7vw;
  }

  .poema {
    bottom: 6vw;
  }

  .who {
    font-size: 6.8vw;
    right: -22vw;
  }

  .we {
    bottom: 25vh;
    right: -40vw;
    font-size: 6.5vw;
  }

  .ui {
    font-size: 13px;
  }

  .midtext{
    font-size: 6.5vw;
  }

  .crimson {
    top: 67vh;
  }

  .midsub {
    font-size: 3vw;
  }

  @media screen and (min-width: 400px) {
    .poema {
      bottom: 1.5vh;
      right: 8vw;
    }

    .scuola {
      bottom: 11vh;
    }

    .albumtext {
      font-size: 2.4vw;
    }

    .midsub {
      font-size: 2.7vw;
    }
  }
}

.titulo{
  position: absolute;
  top:0;
  padding-left: 10px;
  white-space: pre;
}


.amiri{
  font-family: 'Amiri', serif;
}

.nunito{
  font-family: 'Nunito', sans-serif;
}

.fade-out1{
  opacity: 0.8;
  transition: opacity 2s;
  animation: fade-outt 2s forwards;
  animation-timing-function: ease-in-out;
}
@keyframes fade-outt {
  from {transform: scale(1)}
  to {transform: scale(0.5)}
}

.fade-out2{
  opacity: 0.5;
  transition: opacity 2s;
  animation: fade-outt2 2s forwards;
  animation-timing-function: ease-in-out;
}

@keyframes fade-outt2 {
  from {transform: scale(0.5)}
  to {transform: scale(0)}
}

.fade-in1{
  opacity: 0.5;
  transition: opacity 2s;
  animation: fade-inn 2s forwards;
  animation-timing-function: ease-in-out;
}
@keyframes fade-inn {
  from {transform: scale(0)}
  to {transform: scale(0.5)}
}

.fade-in2{
  opacity: 1;
  transition: opacity 2s;
  animation: fade-inn2 2s forwards;
  animation-timing-function: ease-in-out;
}
@keyframes fade-inn2 {
  from {transform: scale(0.5)}
  to {transform: scale(1)}
}

.textin{
  opacity: 1;
  transition: opacity 2s;
  animation: text-inn 2s forwards;
  animation-timing-function: ease-in-out;
}

@keyframes text-inn {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

.textout{
  opacity: 0;
  transition: opacity 2s;
  animation: text-outt 2s forwards;
  animation-timing-function: ease-in-out;
}

@keyframes text-outt {
  from {transform: scale(1)}
  to {transform: scale(0)}
}

.dark{
  position: absolute;
  top: 15vh;
  left: 17vw;
  animation: float1 20s ease-in-out infinite;
  transform-style: preserve-3d; /* This property allows child elements to maintain their 3D position */

}

@keyframes float1 {
  0% {
    transform: translateZ(0);
  }
  25% {
    transform: rotateX(10deg) rotateY(10deg) translateZ(100px);
  }
  50% {
    transform: translateZ(0);
  }
  75% {
    transform: rotateX(10deg) rotateY(-10deg) translateZ(100px);
  }
  100% {
    transform: translateZ(0);
  }
}

@keyframes float2 {
  0% {
    transform: translateZ(0);
  }
  25% {
    transform: rotateX(10deg) rotateY(-10deg) translateZ(100px);
  }
  50% {
    transform: translateZ(0);
  }
  75% {
    transform: rotateX(10deg) rotateY(10deg) translateZ(100px);
  }
  100% {
    transform: translateZ(0);
  }
}

.poemaU{
  position: absolute;
  bottom: 25vh;
  right: 35vw;
  animation: float2 20s ease-in-out infinite;
  transform-style: preserve-3d; /* This property allows child elements to maintain their 3D position */
}

aside {
  margin-top: 10vw;
  margin-left: 5%;
  width: 20%;
  float: left;
  height: 100vh;
}

.linha{
  border-right: 1px solid #797979;
}

.wp-image-14{
  width: auto;
  height: 200px;
  object-fit: contain;
  overflow: hidden;
}

.detaildiv{
  padding-top: 10vw;
  padding-left: 100px;
}



  
