.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bgblack{
  background: #0C0B0C;
  height: 100vh;

}

.centra{
  height: 100vh;
  transform-origin: 50% 50%; /* center */

}

.bggrain{
  background-image: url("../public/13.png");
  height: 100vh;

}
.bggrain2{
  background-image: url("../public/14.png");
  height: 100vh;
  opacity: 10%;
}

.planet{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.timer{
  position: absolute;
  transform: rotate(90deg);
  transform-origin: bottom center;
  top: 10vh;
  left: calc(1.5vw - 29px);
  z-index: 10;
}

.counter{
  position: absolute;
  top: 50vh;
  left: 1.5vw;
  z-index: 10;
}

.days{
  position: absolute;
  top: 92vh;
  left: 1.5vw;
  z-index: 10;
}
.planeti{
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: bottom center;
  top: 10vh;
  right:  calc(1.5vw - 29px);
  z-index: 10;
}

.frac {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  letter-spacing: 0.001em;
  text-align: center;
}
.frac > span {
  display: block;
  padding: 0.1em;
}
.frac span.bottom {
  border-top: thin solid white;
}
.frac span.symbol {
  display: none;
}

.who{
  position: absolute;
  transform: translate(-100%,-100%);
  top: 45vh;
  right: 12vw;
}
.we{
  position: absolute;
  transform: translate(-100%,-100%);
  top: 45vh;
  right: -3vw;
}

.album{
  width: 150px;
}

.painting{
  width: 300px;
}

.titulo{
  position: absolute;
  top:0;
  padding-left: 10px;
  white-space: pre;
}


.amiri{
  font-family: 'Amiri', serif;
}

.nunito{
  font-family: 'Nunito', sans-serif;
}




.fade-out1{
  opacity: 0.8;
  transition: opacity 2s;
  animation: fade-outt 2s forwards;
  animation-timing-function: ease-in-out;
}
@keyframes fade-outt {
  from {transform: scale(1)}
  to {transform: scale(0.5)}
}

.fade-out2{
  opacity: 0.5;
  transition: opacity 2s;
  animation: fade-outt2 2s forwards;
  animation-timing-function: ease-in-out;
}

@keyframes fade-outt2 {
  from {transform: scale(0.5)}
  to {transform: scale(0)}
}

.fade-in1{
  opacity: 0.5;
  transition: opacity 2s;
  animation: fade-inn 2s forwards;
  animation-timing-function: ease-in-out;
}
@keyframes fade-inn {
  from {transform: scale(0)}
  to {transform: scale(0.5)}
}

.fade-in2{
  opacity: 1;
  transition: opacity 2s;
  animation: fade-inn2 2s forwards;
  animation-timing-function: ease-in-out;
}
@keyframes fade-inn2 {
  from {transform: scale(0.5)}
  to {transform: scale(1)}
}

.arewe{
  padding-top: 20%;
}

.textin{
  opacity: 1;
  transition: opacity 2s;
  animation: text-inn 2s forwards;
  animation-timing-function: ease-in-out;
}

@keyframes text-inn {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

.textout{
  opacity: 0;
  transition: opacity 2s;
  animation: text-outt 2s forwards;
  animation-timing-function: ease-in-out;
}

@keyframes text-outt {
  from {transform: scale(1)}
  to {transform: scale(0)}
}

.dark{
  position: absolute;
  top: 15vh;
  left: 17vw;
  animation: float1 20s ease-in-out infinite;
  transform-style: preserve-3d; /* This property allows child elements to maintain their 3D position */

}

@keyframes float1 {
  0% {
    transform: translateZ(0);
  }
  25% {
    transform: rotateX(10deg) rotateY(10deg) translateZ(100px);
  }
  50% {
    transform: translateZ(0);
  }
  75% {
    transform: rotateX(10deg) rotateY(-10deg) translateZ(100px);
  }
  100% {
    transform: translateZ(0);
  }
}


.oddity{
  position: absolute;
  top: 12vh;
  left: 50vw;
  animation: float2 20s ease-in-out infinite;
  transform-style: preserve-3d; /* This property allows child elements to maintain their 3D position */

}

@keyframes float2 {
  0% {
    transform: translateZ(0);
  }
  25% {
    transform: rotateX(10deg) rotateY(-10deg) translateZ(100px);
  }
  50% {
    transform: translateZ(0);
  }
  75% {
    transform: rotateX(10deg) rotateY(10deg) translateZ(100px);
  }
  100% {
    transform: translateZ(0);
  }
}

.scuola{
  position: absolute;
  bottom: 20vh;
  left: 13vw;
  animation: float2 20s ease-in-out infinite;
  transform-style: preserve-3d; /* This property allows child elements to maintain their 3D position */
}

.poema{
  position: absolute;
  bottom: 25vh;
  right: 30vw;
  animation: float2 20s ease-in-out infinite;
  transform-style: preserve-3d; /* This property allows child elements to maintain their 3D position */
}

.poemaU{
  position: absolute;
  bottom: 25vh;
  right: 35vw;
  animation: float2 20s ease-in-out infinite;
  transform-style: preserve-3d; /* This property allows child elements to maintain their 3D position */
}

aside {
  margin-top: 10vw;
  margin-left: 5%;
  width: 20%;
  float: left;
  height: 100vh;
}

.linha{
  border-right: 1px solid #797979;
}

.wp-image-14{
  width: auto;
  height: 200px;
  object-fit: contain;
  overflow: hidden;
}

.detaildiv{
  padding-top: 10vw;
  padding-left: 100px;
}



  
